*{
    font-family: 'Rowdies', cursive;
}
html, body {
    margin:0px;
    height:100%;
}
.container {
    height: 100%;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 20% 10% 10% 20% 10% 10% 20%;
    text-align: center;
    align-items: center;
    background: #EDE0D4;
}

h1 {
    color: #7F5539;
    grid-column: 3 / 6;
}
#btnClick {
    grid-row-start: 3;
    grid-column-start: 4;
    width: 308px;
    height: 65px;
    background:#B08968;
    align-content: center;
    color: #EDE0D4;
    font-size: x-large;
}
#labrador {
    grid-row-start: 3;
    grid-column-start: 2;
    width: 154px;
    height: 65px;
    background:#7F5539;
    align-content: center;
    color:#EDE0D4;
    font-size: x-large;
}
#husky {
    grid-row-start: 3;
    grid-column-start: 6;
    width: 154px;
    height: 65px;
    background:#7F5539;
    align-content: center;
    color: #EDE0D4;
    font-size: x-large;
}
.imagebox {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 6;
}
img {
   object-fit: contain;
   height: 400px;
    width: 425px;
}